<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detalhes do Funcionario - ERP</title>


</head>
<body>
  {% if funcionario %}
      <h1>Detalhes do Funcionario {{ funcionario.nome }}</h1>

      <ul>
        <li> <b>Nome</b>: {{ funcionario.nome }}</li>
        <li> <b>Sobrenome</b>: {{ funcionario.sobrenome }}</li>
        <li> <b>CPF</b>: {{ funcionario.cpf }}</li>
        <li> <b>Email</b>: {{ funcionario.email }}</li>
        <li> <b>Remuneração</b>: {{ funcionario.remuneracao }}</li>
      </ul>
  {% else %}
        <h1> Funcionário não Cadastrado ou não encontrado.</h1>
  {% endif %}
</body>
</html>